/*=======================================================
                    GLOBAL STYLES
 ========================================================*/
*{
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
/*  -------- Global styles (End) --------*/

/*=======================================================
                    HEADER STYLES
 ========================================================*/
.header{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(254, 255, 228);
    background-image: url("Images/clock_tower.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav-section{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width: 100px;
    border-radius: 20%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    padding: 8px 10px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a:hover{
   color: rgb(255, 0, 0);
}

.nav-links ul li::after{
    content: "";
    background: rgb(255, 255, 255);
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/* Middle text of header ( title and discription) */
.middle-content{
    width: 90%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.middle-content h1{
    font-size: 60px;
}

.middle-content p{
    font-size: 16px;
}

.nav-links img{
    display: none;
}
.menu{
    display: none;
}
/*  -------- Header (END) -------- */

/*=======================================================
                    ABOUT Section
 ========================================================*/
.about{
    padding-top: 100px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.about h1{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.about p{
    color: white;
    font-size: 18px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
.about-box{
    flex-basis: 31%;
    background:rgb(255, 213, 180);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .2s;
}
.about-box:hover{
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
/*  -------- About Section (END) -------- */

/*=======================================================
                    Cat Section
 ========================================================*/
.cats{
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.mycats{
    display: flex;
    padding-top: 50px;
}
.row-cats{
    cursor: pointer;
    flex-basis: 33%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
.row-cats img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-name{
    background-color: transparent;
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: .5s;
}
.cat-name:hover{
    background-color: rgb(252, 3, 3, 0.2);
}
.row-cats h3{
    position: absolute;
    width: 100%;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
}
.row-cats:hover h3{
    bottom: 50%;
    font-size: 35px;
    opacity: 1;
}
/*  -------- Cat Section (END) -------- */

/*=======================================================
                    Footer Section
 ========================================================*/
 .footer{
    width: 100%;
    height: 2vh;
    background-color: rgb(12, 173, 173);
 }
/*  -------- Footer Section (END) -------- */

/*=======================================================
                    SMALLER SCREENS
 ========================================================*/
@media(max-width: 700px) {
    /*============================
                Links
      ===========================*/
    .nav-links ul li{
        display: block;
        padding: 20px 0;
    }
    .nav-links ul{
        padding: 10px;
    }
    .nav-links ul li a:active{
        color: black;
    }
    .nav-links{
        position: absolute;
        background: rgb(252, 3, 3);
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li a:hover{
        color: rgb(99, 87, 87);
    }
    .nav-links img{
        padding: 5px 0 0 5px;
        display: block;
        width: 15px;
    }

    /*============================
                Menu Bars
      ===========================*/
    .menu{
        display: block;
        position: relative;
    }
    .menu img{
        width: 20px;
    }

    /*============================
                About section
      ===========================*/

    .row{
        flex-direction: column;
    }
}

